#menu {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  > a {
    display: block;
    line-height: 1;
  }
  img {
    width: 120px;
    position: relative;
    z-index: 10;
  }
  @media (min-width: 769px) {
    border-bottom: none;
    padding: 10px;
    align-items: center;
    img {
      width: 160px;
    }
  }
}
