#about-us {
  display: grid;
  .about-card {
    padding: 50px;
    text-align: left;
    position: relative;
    .about-card-image {
      text-align: center;
      img {
        max-height: 200px;
        border-radius: 100%;
        filter: grayscale(100%) sepia(40%) hue-rotate(180deg)
      }
    }
    .about-card-data {
      padding-top: 30px;
    }
    h3, h2 {
      margin-top: 0;
      color: white;
    }
    &:first-child {
      background-color: var(--base-font-color);
      color: white;
      h3, h2 {
        color: var(--primary-color);
      }
    }
    &:last-child {
      background-color: var(--primary-color);
      &:after {
        background-color: var(--base-font-color);
        content: '';
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        left: 50%;
        top: 0;
        translate: -50% -50%;
        @media screen and (min-width: 1025px) {
          height: 80px;
          width: 80px;
          left: 0;
          top: 50%;
          translate: -50% 0%;
        }
      }
    }
  }
  @media screen and (min-width: 1025px) {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(0, 1fr);
    .about-card {
      padding: 60px;
    }
  }
}