#about-us {
  .about-card {
    margin: 20px 0;
    background-color: var(--bg-gray-color);
    display: flex;
    text-align: left;
    border-radius: 10px;
    .about-card-image {
      flex: 0 0 230px;
      padding: 20px;
      img {
        border-radius: 100%;
      }
    }
    .about-card-data {
      padding: 20px;
      background-color: white;
    }
    h3, h2 {
      margin-top: 0;
      color: var(--primary-color)
    }
  }
}