#services {
  > section {
    min-height: 40vh;
    text-align: center;
    @supports (height: 100dvh) {
      min-height: 40dvh;
    }
    h1 {
      text-wrap: balance;
    }
    .introduction {
      font-size: 22px;
    }
  }

  @media screen and (min-width: 481px) {
    h1 {
      font-size: 32px;
      line-height: 1.1;
    }
  }
  @media screen and (min-width: 1025px) {
    h1 {
      font-size: 42px;
    }
  }
}