#hello {
  h1 {
    color: var(--primary-color)
  }
  a {
    position: relative;
    display: block;
    border-radius: 50px;
    background-color: var(--base-font-color);
    padding: 6px 18px;
    color: white;
    margin: 0;
    font-weight: 600;
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
  }

  .side-left {
    animation: fade .5s both ease-in-out 0.2s;
  }

  @media screen and (min-width: 1025px) {
    h1, p {
      text-align: initial;
    }
    a {
      margin-left: 0;
    }
  }
}
