.mailto-button {
  position: relative;
  display: block;
  border-radius: 50px;
  background-color: var(--primary-color);
  padding: 6px 18px;
  color: white;
  margin: 0;
  font-weight: 700;
  width: fit-content;
}
