#newsletter {
  text-align: center;
  padding: 20px 10px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg-gray-color);
  @supports (height: 100dvh) {
    min-height: 100dvh;
  }
  h1 {
    max-width: 800px;
  }
  a {
    margin: auto;
  }
}