[id="language-switcher"] {
  position: relative;
  display: flex;
  gap: 5px;
  button {
    background-color: transparent;
    padding: 2px 4px;
    border-radius: 5px;
    margin: 0;
    font-weight: 700;
    width: fit-content;
    border: none;
    cursor: pointer;
    &[disabled] {
      opacity: 1;
      border: 1px solid white;
    }
  }
}
