#error-page {
  > .container {
    display: grid;
    place-items: center;
    text-align: center;
    strong {
      display: block;
      line-height: 1;
      color: var(--primary-color);
    }
    h1 {
      img {
        max-height: 40vh;
        @supports (height: 100dvh) {
          max-height: 40dvh;
        }
      }
    }
  }
  @media screen and (min-width: 481px) {
    h1 {
      font-size: 36px;
      strong {
        font-size: 60px;
      }
    }
  }
  @media screen and (min-width: 1025px) {
    h1 {
      font-size: 60px;
      strong {
        font-size: 100px
      }
    }
  }
}
