#not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @supports (height: 100dvh) {
    min-height: 100dvh;
  }
  > .container {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100%;
    flex: 1 1 auto;
    strong {
      display: block;
      line-height: 1;
      color: var(--primary-color);
    }
    h1 {
      img {
        max-height: 20vh;
        @supports (height: 100dvh) {
          max-height: 20dvh;
        }
      }
    }
  }
  @media screen and (min-width: 481px) {
    h1 {
      font-size: 36px;
      strong {
        font-size: 60px;
      }
    }
  }
  @media screen and (min-width: 1025px) {
    h1 {
      font-size: 60px;
      strong {
        font-size: 100px
      }
    }
  }
}
