#colophon {
  background-color: var(--base-font-color);
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  a {
    color: white;
  }
  img {
    width: 120px;
    position: relative;
    z-index: 1;
  }
}
