[id='navbar'] {
  svg {
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-size: 24px;
  }
  > ul {
    display: flex;
    align-items: center;
    gap: 10px;
    li {
      display: flex;
      gap: 10px
    }
    .nav-link  {
      padding: 10px;
      border-radius: 14px;
      display: block;
      line-height: 1;
      color: var(--base-font-color);
      font-weight: 500;
      position: relative;
      transition: font-weight 0.2s ease-in-out;
      &::after {
        content: '';
        background-color: transparent;
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        top: 3px;
        right: 3px;
        transition: background-color 0.3s ease-in-out;
      }
      &.active-link {
        font-weight: 700;
        &::after {
          background-color: var(--primary-color);
        }
      }
    }
  }
  @media (max-width: 768px) {
    .expand {
      min-width: 300px;
    }
    > .menu-panel {
      opacity: 0;
      pointer-events: none;
      background-color: white;
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      transition: all 0.3s ease-in-out;
      padding: 20vh 0;
    }
    [id="restake-item"] {
      order: -1;
    }
    &.open-menu {
      .menu-panel {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}
